<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Criando imagens com IA</title>
<!--    <link rel="stylesheet" href="../static/styles.css">-->
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>

<body>

<h1>"Bem vindo" Pesquise sua imagem pela IA/OpenIA</h1>

<p><strong>Aqui você pensa, e a IA desenha para você.😉</strong></p>

<form method="post" th:action="@{/gerar-imagens}">

    <input type="text"
           name="textoDeImagem"
           placeholder="Escreva aqui qual imagem gostaria de ver."
    >

    <button type="submit">
        Clique aqui para ver a mágica acontecer. 🪄
    </button>
</form>

<div>
    <img th:src="${caminhoImagem}" alt="imagens gerada por IA" >
</div>
</body>
</html>
